@model UserDetailDto

@{
    Layout = "";
}

<link href="~/templates/multishop/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h3>Kullanıcı Profil Bilgisi</h3>
    <div class="alert alert-info">Kullanıcı Id: @Model.Id</div>
    <div class="alert alert-warning">Kullanıcı UserName: @Model.UserName</div>
    <div class="alert alert-info">Kullanıcı Email: @Model.Email</div>
    <div class="alert alert-warning">Kullanıcı Name: @Model.Name</div>
    <div class="alert alert-info">Kullanıcı Surname: @Model.Surname</div>
</div>