@model List<ResultAboutDto>

@{
    ViewData["Title"] = "About";
    int counter = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
            <h4>Hakkımızda Listesi</h4>
            <p>Hakkımızda ile ilgili işlemlerinizi gerçekleştirebilirsiniz.</p>
            <div class="text-right">
                <a class="btn btn-rounded btn-success" asp-area="Admin" asp-controller="About" asp-action="CreateAbout"><i class="fa fa-lg fa-plus-square-o"></i></a>
            </div>
            <br />
            <div class="bs-example" data-example-id="simple-table">
                <table class="table table-bordered">
                    <caption>
                        Hakkımızda
                    </caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hakkımızda Açıklama</th>
                            <th>Hakkımızda Adres</th>
                            <th>Hakkımızda Telefon</th>
                            <th>Hakkımızda Email</th>
                            <th style="width: 140px">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                <td>@item.Description</td>
                                <td>@item.Address</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-rounded btn-warning" asp-area="Admin" asp-controller="About" asp-action="UpdateAbout" asp-route-id="@item.Id"><i class="fa fa-lg fa-pencil-square-o"></i></a>
                                        <a class="btn btn-rounded btn-danger" asp-area="Admin" asp-controller="About" asp-action="DeleteAbout" asp-route-id="@item.Id" onclick="return confirm('Hakkımızda silinecektir, onaylıyor musunuz?')"><i class="fa fa-lg fa-trash-o"></i></a>
                                    </div>
                                </td>
                            </tr>

                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>