@model IEnumerable<ResultUserCommentDto>

@{
    ViewData["Title"] = "User Comment";
    int counter = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
            <h4>Yorum Listesi</h4>
            <p>Yorum ile ilgili işlemlerinizi gerçekleştirebilirsiniz.</p>
            <div class="bs-example" data-example-id="simple-table">
                <table class="table table-bordered">
                    <caption>
                        Yorumlar
                    </caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kullanıcı Resmi</th>
                            <th>Kullanıcı Adı</th>
                            <th>Ürün Adı</th>
                            <th>Yorum</th>
                            <th>Puan</th>
                            <th>Oluşturma Tarihi</th>
                            <th>Durumu</th>
                            <th style="width: 140px">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                <td class="text-center">
                                    <img src="@item.ImageUrl" class="img-thumbnail img-responsive" style="width: 150px" alt="@item.FullName">
                                </td>
                                <td>@item.FullName</td>
                                <td>@item.ProductId</td>
                                <td>@item.CommentDetail</td>
                                <td>@item.Rating</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <label asp-for="@item.Status">
                                        <input type="checkbox" asp-for="@item.Status">
                                        @(@item.Status ? "Aktif" : "Pasif")
                                    </label>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-rounded btn-warning" asp-area="Admin" asp-controller="UserComment" asp-action="UpdateUserComment" asp-route-id="@item.Id"><i class="fa fa-lg fa-pencil-square-o"></i></a>
                                        <a class="btn btn-rounded btn-danger" asp-area="Admin" asp-controller="UserComment" asp-action="DeleteUserComment" asp-route-id="@item.Id" onclick="return confirm('Yorum silinecektir, onaylıyor musunuz?')"><i class="fa fa-lg fa-trash-o"></i></a>
                                    </div>
                                </td>
                            </tr>

                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>