@model List<ResultSendboxUserMessageDto>

@{
    ViewData["Title"] = "Sendbox Messages";
    int counter = 1;
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Giden Mesaj Listesi</h4>
        <p>Giden mesaj ile ilgili işlemlerinizi gerçekleştirebilirsiniz.</p>
        <div class="text-right">
            <a class="btn btn-rounded btn-success" asp-area="Admin" asp-controller="Message" asp-action="SendMessage"><i class="fa fa-lg fa-plus-square-o"></i></a>
        </div>
        <br />
        <div class="bs-example" data-example-id="simple-table">
            <table class="table table-bordered">
                <caption>
                    Giden Mesajlar
                </caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Alıcı</th>
                        <th>Konu</th>
                        <th>Gönderim Tarihi</th>
                        <th style="width: 140px">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@counter</th>
                            <td>@item.ReceiverId</td>
                            <td>@item.Subject</td>
                            <td>@item.CreatedDate</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-rounded btn-warning" asp-area="Admin" asp-controller="Message" asp-action="SendboxMessageDetail" asp-route-id="@item.Id"><i class="fa fa-lg fa-pencil-square-o"></i></a>
                                    <a class="btn btn-rounded btn-danger" asp-area="Admin" asp-controller="Message" asp-action="DeleteMessage" asp-route-id="@item.Id" onclick="return confirm('Giden mesaj silinecektir, onaylıyor musunuz?')"><i class="fa fa-lg fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>

                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>