@model StatisticViewModel

@{
    ViewData["Title"] = "Statistic";
}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="media-box">
            <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
            <div class="media-info">
                <h5>Toplam Marka Sayısı</h5>
                <h3>@Model.CatalogStatistics.BrandCount</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-sea">
            <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
            <div class="media-info">
                <h5>Toplam Categori Sayısı</h5>
                <h3>@Model.CatalogStatistics.CategoryCount</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-blue">
            <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
            <div class="media-info">
                <h5>Toplam Ürün Sayısı</h5>
                <h3>@Model.CatalogStatistics.ProductCount</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-green">
            <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
            <div class="media-info">
                <h5>Ortalama Ürün Fiyatı</h5>
                <h3>@Model.CatalogStatistics.ProductAvgPrice.ToString("C2")</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="media-box">
            <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
            <div class="media-info">
                <h5>En Pahalı Ürün</h5>
                <h3>@(Model.CatalogStatistics.MaxPriceProductName.Substring(0, 20) + "...")</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-sea">
            <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
            <div class="media-info">
                <h5>En Ucuz Ürün</h5>
                <h3>@(Model.CatalogStatistics.MinPriceProductName.Substring(0, 20) + "...")</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-blue">
            <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
            <div class="media-info">
                <h5>Toplam Kullanıcı Sayısı</h5>
                <h3>@Model.UserStatistics.UserCount</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-green">
            <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
            <div class="media-info">
                <h5>Toplam Mesaj Sayısı</h5>
                <h3>@Model.CommentStatistics.TotalCommentCount</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="media-box">
            <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
            <div class="media-info">
                <h5>Aktif Mesaj Sayısı</h5>
                <h3>@Model.CommentStatistics.ActiveCommentCount</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-sea">
            <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
            <div class="media-info">
                <h5>Pasif Mesaj Sayısı</h5>
                <h3>@Model.CommentStatistics.PassiveCommentCount</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-blue">
            <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
            <div class="media-info">
                <h5>Toplam Kupon Sayısı</h5>
                <h3>@Model.DiscountStatistics.DiscountCouponCount</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="media-box bg-green">
            <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
            <div class="media-info">
                <h5>New Orders</h5>
                <h3>5324</h3>
            </div>
        </div>
    </div>
</div>