@model List<ResultSendboxUserMessageDto>

@{
    ViewData["Title"] = "Sendbox Messages";
    int counter = 1;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Mesajlar</h4>
            <p class="card-description">
                Giden mesajlarınız burada görüntülenir.
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Alıcı</th>
                            <th>Konu</th>
                            <th>Detaylar</th>
                            <th>Gönderim Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.ReceiverId</td>
                                <td>@item.Subject</td>
                                <td><a class="btn btn-light" asp-controller="Message" asp-action="SendboxMessageDetail" asp-route-id="@item.Id">Detaylar</a></td>
                                <td>@item.CreatedDate</td>
                            </tr>

                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>